<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|timthumb\.php|open-flash-chart\.swf|assets|captcha|user_guide|application)
#RewriteRule ^(.*)$ ./index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>


<Files "index.php">
AcceptPathInfo On
</Files>
